/* Card Search Styles */

.cardSearch{
    margin-top:20px;
}
.cardImageContainer{
    border-style: solid;
    border-color:#5f5f5f;
    border-radius: 5%;
    border-width:1px;
    padding:0vmax;
    box-shadow: 2px 2px 2px;
}
.cardSearchImage{
    width:100%
}
  
.cardContainer{
    margin-top:0
}
  
.cardInformation{
    padding-right:0;
    margin-bottom:0px;
    text-align: left;
 }

 .generalInformation{
     background-color: #f2f2f2;
     margin-bottom:1vmax;
 }
  
.cardName{
    background-color:#1b2b34;
    color:White;
    padding: 1vmax;
    margin-top:0;
    margin-bottom:0;
}

.cardType{
    margin-top:0;
    margin-bottom:0;
}

.illegal{
    background-color:#f9f9f9
}

.legal{
    background-color: #5cb85c
}
.legalTable{
    text-align: center;
}

.panel{
    margin-bottom: 1vmax;
}

.panel-group{
    padding-bottom:0;
}

.panel-heading{
    padding:0;
}

.searchButton{
    margin:0;
    padding:0;
    height:100%;
    width:100%
}

.searchInput{
    width:75%
}

  @media only screen and (max-width: 600px){
    .cardName{
      font-size: 2.25rem;
      padding: 3vmax;
    }
    
    .cardType{
      font-size: 1.75rem;
    }
    .cardInformation{
        padding-left:0;
        padding-right:0;
        margin-top:2vmax;
        margin-left:0;
        margin-right:0;
    }

  }